{% extends 'base.html' %} {% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
{% endblock %} {% block title %}Graph Sample{% endblock %} {% block content %}
{% for chart_data, id in chart_data_list %}
<input type="hidden" name="{{chart_data}}" />
<input type="hidden" name="{{chart_data['chart_labels-1']}}" />
<div class="my-4 canvas-container">
  <p>{{ chart_data.graph_title }}</p>
  <canvas id="myChart-{{ id }}"></canvas>
</div>
<input
  type="hidden"
  id="chart_labels-{{ id }}"
  name="chart_labels-{{ id }}"
  value="{{ chart_data.chart_labels }}"
/>
<input
  type="hidden"
  id="chart_title-{{ id }}"
  name="chart_title-{{ id }}"
  value="{{ chart_data.chart_title }}"
/>
<input
  type="hidden"
  id="question_num-{{ id }}"
  name="question_num-{{ id }}"
  value="{{ chart_data.question_num }}"
/>
<input
  type="hidden"
  id="chart_data-{{ id }}"
  name="chart_data-{{ id }}"
  value="{{ chart_data.chart_data }}"
/>

{% endfor %}

<script type="text/javascript" src="static/js/graph.js"></script>
{% endblock %}
