{% extends 'base.html' %} {% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
{% endblock %}
<span></span>
{% block title %}Graph Sample{% endblock %}
<span></span>
{% block content %} {% for chart_data, id in chart_data_list %}
<input type="hidden" name="{{chart_data}}" />
<input type="hidden" name="{{chart_data['chart_labels-1']}}" />
<div class="my-4 canvas-container" id="chart-{{ id }}">
  <p class="matrix-question-description">
    {{ chart_data.matrix_question_description }}
  </p>
  <canvas id="myChart-{{ id }}"></canvas>
  <!-- 画像として保存する関数の実装 -->
  <!-- <input
    type="button"
    ,
    class="btn btn-primary"
    id="jpg-download-{{id}}"
    onclick="downloadJpg(this.id)"
    value="画像として保存"
  /> -->
</div>
<input
  type="hidden"
  id="chart_labels-{{ id }}"
  name="chart_labels-{{ id }}"
  value="{{ chart_data.chart_labels }}"
/>
<input
  type="hidden"
  id="chart_title-{{ id }}"
  name="chart_title-{{ id }}"
  value="{{ chart_data.chart_title }}"
/>
<input
  type="hidden"
  id="question_num-{{ id }}"
  name="question_num-{{ id }}"
  value="{{ chart_data.question_num }}"
/>
<input
  type="hidden"
  id="chart_data-{{ id }}"
  name="chart_data-{{ id }}"
  value="{{ chart_data.chart_data }}"
/>
{% endfor %}

<!-- ###-->
<input
  type="hidden"
  name="pie-check"
  value="{{check_show_pie_chart}}"
  id="pie"
/>
<div class="my-4">
  <canvas id="myChart-100"></canvas>
</div>

<!-- ### -->

<script type="text/javascript" src="static/js/graph.js"></script>
{% endblock %}
