{% extends "data_merge_app/base.html" %} {% block title %}Complete Merge!{%
endblock %} {% block content %}

<div class="container">
  <div class="row justify-content-evenly text-center mt-5">
    <div class="col-6">
      <a
        href="{{ url_for('download_file') }}"
        class="btn btn-primary btn-lg col-md-6 p-3"
        download
        >Download</a
      >
    </div>
    <div class="col-6">
      <a href="{{url_for('index')}}" class="btn btn-primary btn-lg col-md-6 p-3"
        >ページTOPに戻る</a
      >
    </div>
  </div>
</div>

{% endblock %}
